<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Movie</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
    <nav>
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="Film Hunt">
            </a>
        </div>
        <div class="title">
            <h1>Film Hunt</h1>
        </div>
        <ul>
            <li><a href="{% url 'usage' %}">Use</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>
    <form method="POST">
        {% csrf_token %}
        <label for="title">Enter Movie Title:</label><br>
        <input type="text" id="title" name="title" placeholder="ex. Star Wars" required><br><br>
        <button type="submit">Search</button>
    </form>

    <footer>
        <p>&copy; {% now "Y" %} Film Hunt. All rights reserved.</p>
    </footer>
</body>
</html>
