<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Detail</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/movie_detail.css' %}">
</head>
<body>
    <nav>
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="Film Hunt">
                Film Hunt
            </a>
        </div>
        <ul>
            <li><a href="{% url 'usage' %}">Use</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>
    <h1>{{ movie.title }}</h1>
    <img id="poster" src="{{ movie.poster_url }}" alt="{{ movie.title }} Poster">
    {% if movie.release_date %}
    <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
    {% else %}
    <p><strong>N/A</strong></p>
    {% endif %}
    <p><strong>Duration:</strong> {{ movie.runtime }}</p>
    <p><strong>Genre:</strong> {{ movie.genre }}</p>
    <p><strong>Director:</strong> {{ movie.director }}</p>
    <p><strong>Actors:</strong> {{ movie.actors }}</p>
    <p><strong>Plot:</strong> {{ movie.plot }}</p>
    <p><strong>IMDb ID:</strong> {{ movie.imdb_id }}</p>

    <footer>
        <p>&copy; {% now "Y" %} Film Hunt. All rights reserved.</p>
    </footer>
</body>
</html>
