services:
  web:
    image: ghcr.io/dokuqui/find-movie-app_django/find-movie:latest
    command: /app/entrypoint.sh
    ports:
      - "8000:8000"
    environment:
      - DJANGO_SECRET_KEY=${DJANGO_SECRET}
      - IS_DEBUG=${IS_DEBUG}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
      - DATABASE_URL=${DATABASE_URL}
      - CORS_ALLOWED_ORIGIN=${CORS_ALLOWED_ORIGIN}
      - CSRF_COOKIE_DOMAIN=${CSRF_COOKIE_DOMAIN}
      - CSRF_TRUSTED_ORIGIN=${CSRF_TRUSTED_ORIGIN}
      - OMDB_API_KEY=${OMDB_API_KEY}
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - db_volume:/app/data

volumes:
  static_volume:
  media_volume:
  db_volume: